* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 16px;
  color: #fff;
  background-color: #4b0082;
  display: flex;
  flex-direction: column;
}
img {
  max-width: 300px;
}
h1,
p {
  margin-bottom: 12px;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 30px;
}
.navbar {
  background-color: #1f2937;
  height: 50px;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.links {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.links a:hover {
  color: #a628ff;
}
ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #fff;
}
.header {
  display: flex;
  align-items: center;
  min-height: 500px;
  background-color: #4b0082;
}
.header .container {
  display: flex;
  align-items: center;
  gap: 200px;
}
.logo {
  font-size: 24px;
  color: #f9faf8;
}
.purple {
  font-size: 15px;
  font-weight: bolder;
  padding: 10px;
  border: none;
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #800080;
  color: #ffbaff;
}
.container img {
  max-width: 200px;
}
.item-1 img {
  height: 132px;
}
.container-info {
  display: flex;
  align-items: center;
  min-height: 500px;
  background-color: #a628ff;
}
.box-info {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
  font-size: 20px;
}
.items {
  display: flex;
  gap: 30px;
}
.items img {
  border: none;
  border-radius: 25px;
}
.items p {
  font-size: large;
  font-weight: 600;
  text-align: center;
}
.container-quote {
  display: flex;
  align-items: center;
  min-height: 500px;
  background-color: #753d9d;
}
.quote {
  font-size: 40px;
}
.quote-credit {
  display: flex;
  justify-content: flex-end;
  margin-right: 100px;
  font-size: 20px;
  font-weight: bolder;
}
.container-card {
  display: flex;
  align-items: center;
  min-height: 500px;
  background-color: #a628ff;
}
.card {
  display: flex;
  align-items: center;
  background-color: #a628ff;
  gap: 100px;
}
.card h4 {
  font-size: 17px;
}
.card p {
  font-size: 13px;
}
